
@media (max-width: 991px){

    .header{
        display: none;
    }
    .header-res {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 275px;
        height: 48px;
        padding-right: 0.5rem;
    }
    .header-res div{
        cursor: pointer;
    }
    .header-res div a i{
        font-size: 20px;
        opacity: 0.7;
    }

    .hero .catagories .our-catagory {
        height: 80;
        padding: 0 24px;
    }

    .card {
        margin-top: 32px;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        padding: 0 15px;
    }
    .card-img {
        height: 301px;
        width: 300px;
    }

    .hero .catagories .our-catagory h1 {
        font-size: 28px;
        color: var(--font-color);
    }
    .hero .catagories{
        height: 880px;
        padding: 0;
    }


    /* weekly best seller */
  .hr{
        width: 100%; 
        height: 2px; 
        background-color: #333; 
        margin-top: 24px; 
        opacity: 0.5;
    }

    .weekly-bestsellers {
        padding: 0 10px;
        margin-top: 530px;
    }
    .weekly-bestsellers .sellers{
        height: 48px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-left: 8px;
    }

    .sellers .left h1 {
        font-size: 24px;
        margin-right: 32px;
    }

    .card {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 0 15px;
    }


    .cards .card .img {
        height: 12rem;
    }

    .cards .card .img img {
        height: 300px;
        width: 100%;
    }

    .cards .card .info {
        margin-top: 40px;
        height: 80px;
    }


    .cards .card {
        height: 400px;
        width: 295px;
        gap: 60px;
    }
    .cards {
        gap: 10px;
    }

    /* shoping by brands */
    .shoping {
        margin: 75px 35px 0 35px;
    }

    .shop-banner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 35px;
        gap: 20px;
    }

    .shop-banner .banner-card {
        width: 440px;
        height: 600px;
    }

    /* product production */
    .product h1 {
        color: var(--font-color);
        font-size: 27px;
    }
    .product-collections {
        flex-wrap: wrap;
    }
    .product-card {
     width: 455px;
    }
    .col5{
        display: none;
    }
    .col1 .up {
        height: 510px;
    }
    .col1 .down {
        height: 580px;
    }
    .col2 .up {
        height: 825px;
    }
    .col2 .down .inner, .col4 .up .inner {
        width: 425px;
        height: 121px;
    }
    .col3 .up {
        height: 640px;
    }
    .col3 .down {
        height: 450px;
    }
    .col4 .down {
        height: 830px;
    }
    .col5 .up {
        height: 500px;
    }
    .col5 .down {
        height: 590px;
    }
    .furniture-collection .left .head h1 {
        font-size: 27px;
    }
    /* furniture collection of the weak */
    .furniture-collection {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 25px;
        margin: 45px 30px 0 30px;
    }
    .hide{
        display: inline-block;
    }
    .article-hide{
        display: none;
    }
    .furniture .card {
        height: 400px;
        width: 270px;
    }

    .furniture-collection .right {
        height: 645px;
        width: 505px;
    }

    /* Rules for choosing furniture */

    .choosing-furniture {
        margin: 45px 30px 0 30px;
    }
    .choosing-furniture h1{
        font-size: 27px;
    }
    .rules {
        margin: 0 30px;
        display: flex;
        flex-direction: column;
    }
    .rules .right {
        width: 500px;
    }

    .rules .right .video {
        width: 500px;
        height: 330px;
    }

    /* Latest article card */

    .latest-articles {
        height: 52px;
        margin: 45px 30px 0 30px;
    }
    .latest-articles h1{
        font-size: 27px;
    }
    .article-cards {
        margin: 30px 35px;
    }
    .article-cards .article-card {
        height: 490px;
        width: 480px;
    }
    .down .content {
        height: 180px;
        width: 425px;
    }
    .article-cards .article-card .up {
        height: 60%;
    }
    .article-cards .article-card .down {
        height: 40%;
    }

    .online-store {
        height: 340px;
        margin: 45px 30px;
    }

    .footer {
        padding: 45px 30px;
        margin-top: 325px;
    }
    .footer .main {
        flex-direction: column;
    }
    .footer {
        height: 700px;
    }
    .footer .main .right {
        width: 500px;
    }
    .show{
        width: 1350px;
        opacity: 0.3;
    }

    .footer .main .left .logo {
        height: 80px;
        width: 500px;
    }

    .footer .main .left .logo {
        height: 80px;
    }
    .column-inner .col h4 {
        font-size: 23px;
    }
    .column-inner .col ul li {
        font-size: 15px;
    }

    .footer .main .left .column-inner {
        height: 275px;
        display: flex;
        justify-content: space-between;
        width: 500px;
    }

    hr{
        margin-top: 265px;
        opacity: 0.3;
        width: 500px;
    }
}

